<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>

<body>
    <nav>
        <img src="Images/logo.png" alt="Logo" class="nav-logo">
        <div class="nav-main">
        </div>
    </nav>
    <main>
        <div class="article">
            <div class="top">
                <div id="timer">30</div>
                <div id="result">0 w/m</div>
            </div>
            <div class="container">
                <span class="text-original" id="raw_text">
                    A graph is regular if the degree of every node is a constant d. A graph is
                    complete if the degree of every node is n - 1, i.e., the graph contains all possible
                    edges between the nodes.
                </span>
                <textarea name="a" cols="100" rows="6" spellcheck="false" id="myTextarea" autofocus>
                </textarea>
                <span class="text-user" id="user-input"></span>
            </div>
            <br>
        </div>
    </main>
    <script src="script.js"></script>
</body>

</html>