<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>

<body>
    <nav>
        <img src="Images/logo.jpg" alt="Lgo" class="nav-logo">
        <div class="nav-main">
            <span class="nav-item">How it works</span>
            <span class="nav-item">Services</span>
            <span class="nav-item">Blog</span>
            <span class="nav-item">About</span>
            <span class="nav-item-active">Contact US</span>

        </div>
    </nav>
    <main>
        <img src="Images/background.jpg" alt="" class="background">
        <div class="article">
            <h1>
                Beautiful Landing Page
            </h1>
            <h2 id="timer">Time:00:30</h2>
            <h2>To go to next line press "ENTER"</h2>
            <div class="container">
                <span class="blank" id="blank"></span>
                <span class="text" id="raw_text">
                    A graph is regular if the degree of every node is a constant d. A graph is
                    complete if the degree of every node is n - 1, i.e., the graph contains all possible
                    edges between the nodes.
                </span>
                <textarea name="a" cols="100" rows="10" spellcheck="false" id="myTextarea" autofocus>
                </textarea>
                <span class="text" id="user-input"></span>
            </div>
            <br>
            <div id="result">Result</div>
        </div>
    </main>
    <script src="script.js"></script>
</body>

</html>